body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #222;

}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    text-align: center;
    text-decoration: none;
}
h2 {
    font-variant: small-caps;
    font-size: 38px;
    margin: 0%;
}
h2:hover {
    text-decoration-line: line-through;
}
.card1 {
    padding: 16px;
    border-radius: 8px;
    background-color: darksalmon;
    width: 800px;
    margin: 0%;
    
}
.card1 h1:hover {
    text-decoration-line: line-through;
}

.card1 h1 {
    font-size: 64px;
    font-variant: small-caps;
    margin: 0%;
}

.card2 {
    padding: 16px;
    border-radius: 8px;
    background-color: darkgrey;
    width: 800px;
    margin: 0%;
    
}
.card2 p {
    font-style: italic;
    margin: 16px;

}
.card3 {
    padding: 16px;
    border-radius: 8px;
    background-color: darkcyan;
    width: 800px;
    margin: 0%;
    
}
.card3 a {
    color: #222;
    margin: 0 10px;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}
.card3 a:hover {
    color: white;
}
hr {
    border: none;
    border-top: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    
}
