:root {
  --main-bg: #222;
  --card1-bg: darksalmon;
  --card2-bg: darkgrey;
  --card3-bg: darkcyan;
  --accent: #222;
  --hover: white;
  --hr: black;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--main-bg);

}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    text-align: center;
    text-decoration: none;
}
h2 {
    font-variant: small-caps;
    font-size: 38px;
    margin: 0%;
}
h2:hover {
    text-decoration-line: line-through;
}
.card1 {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--card1-bg);
    max-width: 90vw;
    width: 700px;
    margin: 0%;
    
}
.card1 h1:hover {
    text-decoration-line: line-through;
}

.card1 h1 {
    font-size: 64px;
    font-variant: small-caps;
    margin: 0%;
}

.card2 {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--card2-bg);
    max-width: 90vw;
    width: 700px;
    margin: 0%;
    
}
.card2 p {
    font-style: italic;
    margin: 0%;

}
.card3 {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--card3-bg);
    max-width: 90vw;
    width: 700px;
    margin: 0%;
    
}
.card3 a {
    color: var(--accent);
    margin: 0 10px;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}
.card3 a:hover {
    color: var(--hover);
}
hr {
    border: none;
    border-top: 1px solid var(--hr);
    margin-left: 50px;
    margin-right: 50px;
    
}
